@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=DM+Serif+Text&family=Noto+Serif+TC:wght@200..900&display=swap');
body {
    background: #fff;
    color: #242424;
    font-family: "Chocolate Classical Sans", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
}
body, article, section{display: flex;}
article{
    align-items: center;
}
h1, h2, h3{
    font-family: "DM Serif Text", "Noto Serif TC", serif;
}
h1{
    font-size: 100px;
    font-weight: 900;
    line-height: 300px;
}
section:nth-child(1){
flex-direction: column;
    align-items: center;
}